/* /!\ -------- SUMMARY -------- /!\ */
/* -------- REDDIT RELATED CLASSES -------- */
/* -------- CSGO RELATED CLASSES -------- */
/* -------- LOL RELATED CLASSES -------- */
body {
	background-color: #e5e7ea !important;
}


.right-side-navbar {
	background-color: #1a1a1a;
	color: white;
}
.container-full {
	width: 100%;
}

/*.body {
	background-color: #ebf819;
}*/



a.link_hltv:hover {
	text-decoration: none;
	background-color: #e5e7ea;
}


a.link_csgo_reddit, a.link_lol_reddit, a.link_programming_reddit {
	text-decoration: none;
	color: grey;
	display: block;
}
a.link_csgo_reddit:hover, a.link_lol_reddit:hover, a.link_programming_reddit {
	text-decoration: none;
	/*border: 1px solid black;*/
}
.no-padding-margin {
	padding: 0;
	margin: 0;
}
/*.container {
	padding: 0 !important;
	margin: 0 !important;
}*/

/* -------- REDDIT RELATED CLASSES -------- */


.reddit_title {
  color: black;
  font-weight: 380;
  font-size: x-large;
}
.reddit_upvotes {
	color: black;
}

.logo_reddit_csgo, .logo_reddit_lol, .logo_reddit_programming {
	position: absolute;
	top: 10px;
	right: 10px;
	/*background-image: url('../images/reddit_csgo.png');*/
	background-size: cover;
	height: 50px;
	width: 70px;
}

.logo_reddit_csgo {
	background-image: url('../images/reddit_csgo.png');
}
.logo_reddit_lol {
	background-image: url('../images/reddit_lol.png');
}

.box-reddit {
	width: 100%;
	overflow-y: auto;
	height: 450px;
}

.post_csgo, .post_lol, .post_programming {
	/*width: 650px;*/
	border: 1px solid gray;
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 15px;
}
.post_csgo:hover, .post_lol:hover, .post_programming:hover {
	border: 1px solid black;
}


/* -------- END REDDIT RELATED CLASSES -------- */

/* -------- CSGO RELATED CLASSES -------- */
.csgo-related {
	/*background-color: black;*/
}
.relative-container {
	position: relative;
}

.logo_hltv {
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url("../images/hltv_logo.png");
	background-size: cover;
	height: 70px;
	width: 133.33px;
}

.all_news_hltv {
	width: 650px;
	margin-bottom: 40px;
	background-color: white;
}

.country_hltv {
	margin: auto;
}
.title_hltv {
	margin: auto;
}
.link_hltv {
	text-decoration: none;
	border: 1px solid #e5e7ea;
	empty-cells: hide;
	height: 50px;
}
.time_hltv {
	color: black;
	opacity: 0.5;	
	font-size: small;
}

.comments_hltv {
	color: black;
	opacity: 0.9;
	font-size: 15px;
}


/* -------- END CSGO RELATED CLASSES -------- */
/*--------------------------------------------*/
/* -------- LOL RELATED CLASSES -------- */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    /*visibility: hidden;*/
    display: none;
    width: 160px;
    background-color: #6d7272;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    /*visibility: visible;*/
    display: contents;
    /*-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s*/
}
.active {
	color: blue;
}
.league:hover {
	cursor: pointer;
}
.na, .lck, .lpl {
	display: none;
}
.date {
	/*background-color: white;*/
	color: #c2c2c2;
	border-bottom: 5px solid #c2c2c2;
}
.match {
	display: flex;
	height: 120px;
	width: 100%;
	align-items: center;
	/*border-bottom: 1px solid white;*/

}

.match+.match { border-bottom: : 1px solid white }

.time {
	background-color: #000000;
	width: 22%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.team-logo {
	width: 25%;
	display: flex;
	justify-content: center;
}
.team-logo img {
	/*max-height: 50%;*/
	width: 70%;
}

.blue-team, .red-team {
	/*width: 100%;*/
}
.clash {
	width: 100%;
}
/*.lck {
	display: none;
}*/
/* -------- END LOL RELATED CLASSES -------- */
/*-------------------------------------------*/
